<div class="row mt-5">
  <div class="col-8">
    <h1>Principales características de Angular</h1>
    <hr>

    <h3 class="mt-3">Velocidad y rendimiento</h3>

    <ul id="listaInfoAngular">
      <li><strong>Generación de código: </strong> Angular convierte tus plantillas en código altamente optimizado para las máquinas virtuales de JavaScript de hoy en día, ofreciéndote todas las ventajas del código escrito a mano con la productividad de un framework.</li>

      <li><strong>Universal: </strong>Ejecuta la primera vista de tu aplicación en node.js, .NET, PHP, y otros servidores para renderizado de forma casi instantánea obteniendo solo HTML y CSS. También abre posibilidades para la optimización del SEO del sitio.</li>
      <li><strong>División del código: </strong>Las aplicaciones de Angular se cargan rápidamente gracias al nuevo enrutador de componentes. Éste ofrece una división automática de códigos para que los usuarios sólo carguen el código necesario para procesar la vista que solicitan.</li>
    </ul>
  </div>


  <div class="col-4">
    <app-lateral-angular-cli></app-lateral-angular-cli>
  </div>
</div>


