<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="encabezado">

 <h1>¡Hola {{ destino }}!</h1>
<app-fechaActual></app-fechaActual>
<app-viewmodelo></app-viewmodelo>
<app-ejmetodo></app-ejmetodo>
<h3>Ejemplo de Property Binding</h3>
<app-ejpropertybinding></app-ejpropertybinding>
<h3>Ejemplo de Event Binding</h3>
<app-ejeventbinding></app-ejeventbinding>
<h3>Ejemplo de Two Way Binding</h3>
<hr>
<app-ej2waybinding></app-ej2waybinding>

<div class="container">
    
    <h3>Ejemplo de directiva ngIf</h3>
    <hr>
    <app-ejdirectivangif></app-ejdirectivangif>
    <h3>Ejemplo de directiva ngStyle</h3>
    <app-ejdirectivangstyle></app-ejdirectivangstyle>
    <h3>Ejemplo de directiva ngClass</h3>
    <app-ejdirectivangclass></app-ejdirectivangclass>
    <h3>Ejemplo de directiva ngFor</h3>
    <app-ejdirectivangfor></app-ejdirectivangfor>
    <h3>Ejemplo de directiva ngFor con objetos</h3>
    <hr>
    <app-arrayobjetos></app-arrayobjetos>
    <hr>
    <h3>Ejemplo de directiva ngSwitch</h3>
    <hr>
    <app-ejdirectivangswitch></app-ejdirectivangswitch>
    <h3>Ejemplo de directiva ngFor con objetos</h3>
    <hr>
    <app-ejmidirectiva></app-ejmidirectiva>
    <h3>Ejemplo de uso de @Input</h3>
    <hr>
    <app-padre></app-padre>
</div>



</div>

